/vendor
/node_modules
/.git
/.github
/.vscode
/.idea
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/tests
/docker-compose.yml
/.env
/.env.local
/.env.backup
/mysql-data
*.md
*.log
Dockerfile
.dockerignore
.gitignore
.editorconfig
phpunit.xml
